<h1>Listing content_categories</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Content type</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_categories.each do |content_category| %>
  <tr>
    <td><%= content_category.content_id %></td>
    <td><%= content_category.content_type %></td>
    <td><%= content_category.category_id %></td>
    <td><%= link_to 'Show', content_category %></td>
    <td><%= link_to 'Edit', edit_content_category_path(content_category) %></td>
    <td><%= link_to 'Destroy', content_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content category', new_content_category_path %>
