<section id="comment_form_wrap">
	<h3 id="respond">Leave a Reply</h3>
	<%= form_for(@comment, :html => {:id => "commentform"} ) do |f| %>
		<% if @comment.errors.any? %>
	    	<div id="error_explanation">
				<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
				<ul>
					<% @comment.errors.full_messages.each do |msg| %>
	        			<li><%= msg %></li>
	      			<% end %>
	      		</ul>
	    	</div>
	  	<% end %>
		<%= f.hidden_field :parent_id %>
		<%= f.hidden_field :parent_type %>
		<%= f.hidden_field :poster_id, :value => (current_user ? current_user.id : nil) %>
		<p>
			<small>
				<strong>XHTML:</strong> You can use these tags:....
			</small>
	   	</p>
		<div class="field">
			<p class="text-area">
				<%= f.text_area :Body %>
			</p>
		</div>
		<div class="actions">
			<%= f.submit "Save", {:type => "image", :tabindex => "5", :src => "/frameworks/silverblog/images/submit.png"} %>
		</div>
	<% end %>
	<div class="clear"></div>
</section>