<%= form_for(@article, :url => (@article.id.nil? ? admin_articles_path : admin_articles_path(@article))) do |f| %>
	<% if @article.errors.any? %>
		<div id="error_explanation">
	    	<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
			<ul>
		    	<% @article.errors.full_messages.each do |msg| %>
		        	<li><%= msg %></li>
		      	<% end %>
		  	</ul>
		</div>
  	<% end %>
  	<div class="field">
		<%= f.label :Title %><br />
  		<%= f.text_field :Title %>
  	</div>
  	<% @content = @article %>
  	<%= render :partial => "admin/site_contents/form", :locals => {:f => f} %>
	<div class="field">
  		<%= f.label :Body %><br />
  		<%= f.text_area :Body %>
  	</div>
  	<div class="actions">
  		<%= f.submit "Save" %>
  	</div>
<% end %>
