<p id="notice"><%= notice %></p>

<p>
  <b>Contact form:</b>
  <%= @contact_message.contact_form_id %>
</p>

<p>
  <b>Sender:</b>
  <%= @contact_message.sender_id %>
</p>

<p>
  <b>Subject:</b>
  <%= @contact_message.Subject %>
</p>

<p>
  <b>Body:</b>
  <%= @contact_message.Body %>
</p>