<article class="module width_full">
	<header>
		<h3><%= @projects.nil? ? "0" : @projects.length.to_s %> Project(s)</h3>
	</header>
	<div>
		<table cellspacing="0" class="tablesorter">
			<thead>
				<tr>
					<th>Name</th>
					<th>Github?</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<% @projects.each do |project| %>
					<tr>
						<td><%= project.Name %></td>
						<td>
							<% if project.GithubAuth.nil? %>
								<label style="color:orange">Never Synced</label>
							<% else %>
								<label style="color:green">Synced on <%= project.GithubSynced.to_s(:date_time_12_full) %></label>
							<% end %>
						</td>
						<td>
							<%= link_to "View", admin_project_path(project) %>
							<%= link_to "Edit", edit_admin_project_path(project) %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</article>