<%= render :partial => "projects/show/assets/styles" %>
<%= render :partial => "projects/show/assets/scripts" %>
<header id="project_header">
	<h2 id="project_name"><%= @project.Name %></h2>
	<span id="project_header_info">
		<span class="left_align">
			<label>Last Updated: </label><%= @project.updated_at.to_s(:date_time_12_full) %>
		</span>
		<span class="right_align">
			Some more detail stuff
		</span>
		<br class="clear_both" />
	</span>
</header>
<% if !@project.GithubAttributes.nil? && @project.GithubAttributes.private == false %>
	<%= render "projects/show/github/attributes" %>
<% end %>
<article id="project_description">
	<%= raw(@project.Description) %>
</article>
<hr id="comment_section_divider" />
<% @parent = @project %>
<%= render "comments/index/index"  %>

<!--
<% if !@project.GithubAttributes.nil? %>
	<article id="project_github_attributes">
		<ul>
			<% @project.GithubAttributes.each_pair do |aKey, aValue| %>
				<li>
					<% if aValue.class == Hashie::Mash %>
						<h4><%= aKey %></h4>
						<ul>
							<% aValue.each_pair do |bKey, bValue| %>
								<li>
									<label><%= bKey %></label><br />
									<span><%= bValue.to_s %></span>
								</li>
							<% end %>
						</ul>
					<% else %>
						<label><%= aKey %></label><br />
						<span><%= aValue.to_s %></span>
					<% end %>
				</li>
			<% end %>
		</ul>
	</article>
<% end %>
-->