<%= render "projects/show/assets/styles" %>
<%= render "projects/show/assets/scripts" %>
<section id="normalheader">

</section>
<h2 id="project_title">
	<%= @project.Title %>
	<span class="right_align">
		<%= flag_link_for @project %>
	</span>
	<br />
	<small style="font-size: 11px ; color: gray">
		Posted By 
		<% if @project.SiteContent.CreatedBy.nil? %>
			<span style="color:orange ; font-style:italic">Unknown</span>
		<% else %>
			<%= link_to @project.SiteContent.CreatedBy.username, @project.SiteContent.CreatedBy %>
		<% end %>
		On <%= @project.created_at.to_s(:date_full) %> In 
		<%= link_to @project.SiteContent.Category.Name, @project.SiteContent.Category.Name %>
	</small>
</h2>
<% if !@project.GithubAttributes.nil? && @project.GithubAttributes.private == false %>
	<%= render "projects/show/github/attributes" %>
<% end %>
<section id="article_body_wrap">
	<%= raw(@project.Description) %>
</section>
<hr id="divider" />
<% @parent = @project.SiteContent %>
<%= render "comments/index/index"  %>