<%= form_for(@site_content) do |f| %>
  <% if @site_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_content.errors.count, "error") %> prohibited this site_content from being saved:</h2>

      <ul>
      <% @site_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_by_id %><br />
    <%= f.text_field :created_by_id %>
  </div>
  <div class="field">
    <%= f.label :modified_by_id %><br />
    <%= f.text_field :modified_by_id %>
  </div>
  <div class="field">
    <%= f.label :content_id %><br />
    <%= f.text_field :content_id %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
