<p id="notice"><%= notice %></p>

<p>
  <b>Created by:</b>
  <%= @site_content.created_by_id %>
</p>

<p>
  <b>Modified by:</b>
  <%= @site_content.modified_by_id %>
</p>

<p>
  <b>Content:</b>
  <%= @site_content.content_id %>
</p>

<p>
  <b>Content type:</b>
  <%= @site_content.content_type %>
</p>


<%= link_to 'Edit', edit_site_content_path(@site_content) %> |
<%= link_to 'Back', site_contents_path %>
