<article class="module width_full">
	<header>
		<h3><%= @categories.nil? ? "0" : @categories.length.to_s %> Categories</h3>
	</header>
	<div class="module_content">
		<table class="tablesorter" cellspacing="0">
			<thead>
				<tr>
					<th>Category</th>
					<th># of Elements</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<% @categories.each do |aCategory| %>
					<tr>
						<td><%= aCategory.Name %></td>
						<td>
							<% contents = aCategory.SiteContents %>
							<% if !contents.nil? && (contents.length > 0) %>
								<%= contents.length.to_s %>
							<% else %>
								<label style="color:orange ; font-style: italic">None</label>
							<% end %>
						</td>
						<td>
							<%= link_to "View", admin_category_path(aCategory) %>
							<%= link_to "Destroy", "#" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</article>