<%= render :partial => "admin/system/dashboard/assets/styles" %>
<%= render :partial => "admin/system/dashboard/assets/scripts" %>
<div id="dashboard_modules_wrap">
	<%= render :partial => "admin/system/dashboard/widgets/contact_messages/widget" %>
	<%= render :partial => "admin/system/dashboard/widgets/comments/widget" %>
	<div class="clear"></div>
	<%= render :partial => "admin/system/dashboard/widgets/authentications/widget" %>
	<%= render :partial => "admin/system/dashboard/widgets/flags/widget" %>
</div>