<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title>Silver Blog | Free WordPress Theme</title>
		
		<%= javascript_include_tag :defaults %>

		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
			<!--[if IE 6]>
			<script src="/frameworks/silverblog/js/belatedPNG.js"></script>
			<script>
				DD_belatedPNG.fix('*');
			</script>
		<![endif]-->
		
		<script src="/frameworks/silverblog/js/jquery-1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/frameworks/silverblog/js/loopedslider.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			$(function(){
				$('#slider').loopedSlider({
					autoStart: 6000,
					restart: 5000
				});
				
			});
		</script> 
		
		<%= render "include/jQueryUI/jqueryui_widgets" %>
		<%= render "include/jQueryUI/jqueryui_effects" %>
		<%= render "include/jQueryUI/jqueryui_interactions" %>

		<%= render "include/tinymce" %>

		<%= stylesheet_link_tag "scaffold" %>
		<%= stylesheet_link_tag "Suwaru" %>
		<%= stylesheet_link_tag "public" %>
		
		<%= javascript_include_tag "Suwaru" %>

		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="bodywrap">
			<section id="pagetop">
				<nav id="sitenav">
					<ul>
						<!--
						<li class="current"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="styles.html">Styles</a></li>
						<li><a href="contact.html">Contact</a></li>
						-->
						<li class="current"><%= link_to "Home", root_path %></li>
						<li><%= link_to "Blog", blog_path %></li>
						<li><%= link_to "Workshop", workshop_path %></li>
						<li><%= link_to "About", "#" %></li>
						<li><%= link_to "Contact", "/contact_forms/1" %></li>
					</ul>			
				</nav>
				<p id="siteinfo">
					Suwaru Living:  
					<span id="session_info_wrap">
						<% if user_signed_in? %>
							<span id="account_auths_wrap">
								<% if !current_user.GithubAuth.nil? %>
									<a href="http://github.com" class="auth_icon">
										<%= image_tag "/images/icons/github/github_white_black_cat_32.png" %>
									</a>
								<% end %>
								<% if !current_user.TwitterAuth.nil? %>
									<a href="http://twitter.com" class="auth_icon">
										<%= image_tag "/images/icons/twitter/twitter_32.png" %>
									</a>
								<% end %>
								<% if !current_user.FacebookAuth.nil? %>
									<a href="http://facebook.com" class="auth_icon">
										<%= image_tag "/images/icons/facebook/facebook_32.png" %>
									</a>
								<% end %>
							</span>
							<span id="account_link_wrap">
								<%= link_to current_user.username, admin_root_path %>
							</span>
							<span id="logout_wrap">
								<%= link_to "Logout", destroy_user_session_path, :confirm => 'Are you sure?', :method => :delete %>
							</span>
						<% else %>
							<span id="login_wrap">
								<%= link_to "Log In", new_user_session_path %>
							</span> 
							||
							<span id="register_wrap">
								<%= link_to "Sign Up", new_user_registration_path %>
							</span>
						<% end %>
					</span>
				</p>
			</section>
			<header id="pageheader">
				<h1>座る<span>Suwaru</span></h1>
				<div id="search">
					<form action="#">
						<div class="searchfield">
							<input type="text" name="search" id="s">
						</div>
						<div class="searchbtn">
							<input type="image" src="/frameworks/silverblog/images/searchbtn.png" alt="search">
						</div>
					</form>
				</div>
			</header>
			<div id="contents">
				<section id="main">
					<% if !notice.nil? && (notice.length <= 0) %>
						<h4 id="notice" class="notice_info"><%= notice %></h4>
					<% end %>
					<% if !alert.nil? && (alert.length > 0) %>
						<h4 id="alert" class="alert_warning"><%= alert %></h4>
					<% end %>
					<%= yield %>
				</section>
				<%= render :partial => "shared/sidebar" %>
				<div class="clear"></div>
			</div>
		</div>
		<footer id="pagefooter">
			<div id="footerwrap">
			<div class="copyright">2010 &copy; Your Copyright Information Goes Here</div>
			<div class="credit">
				<a href="http://cssheaven.org" title="Downlaod Free CSS Templates">Website Template</a> by CSSHeaven.org </div>
			</div>
		</footer>
	</body>
</html>
